.background-image {
    width: 50vw; 
    height: 100vh;
    background-image: url(../../assets/images/bglogin.svg);
    background-size: cover ;
    background-position: center;
    position: relative;
}

/* Untuk layar mobile */
@media only screen and (max-width: 480px) {
    .background-image {
        background-image: none;
        width: 100vw;
        height: 100vh; 
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .background-image {
        background-image: none;
    }
}